*,

*::before,

*::after {
    box-sizing: border-box;
}


/* ###############   Custome properties ########## */

:root {

    --ff-primary:'Ubuntu', sans-serif;
    --ff-secondary:'Ubuntu', sans-serif;

    --fw-reg: 300;
    --fw-bold: 500;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgb(0,0,0,.25),
          0.125em 0.125em 0.25em rgb(0,0.0,.15);


}

.intro_image {
    box-shadow: var(--bs);
    size: 3vh;
    
}

@media (min-width: 800px) {

    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }

}


/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);

}


section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}  

strong {
    font-weight: var(--fw-bold);
}


.btn {
    display: inline-block;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration:  none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transform: trasform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;

}

h1 { font-size: var(--fs-h1)}
h2 { font-size: var(--fs-h2)}
h3 { font-size: var(--fs-h3)}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

.section_title {
    margin-bottom: .25em;
}
.section_title--intro {
    font-weight: var(--fw-reg);
}
.section_subtitle--intro {
    font-weight: var(--fw-reg);
    padding: .25em 1em;
    display: block;

}

.section_subtitle {
    margin: 0;
    font-size: var(--fs-h3);
    padding: .75em .75em .75em .75em;

}

.section_subtitle--intro,
.section_subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section_subtitle--work {
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

/* ####################### header #####################*/


header {
    display: flex;
    justify-content: space-between;
    padding: 1em;


}
.logo {
    min-width: 100px;
    height: 30px;
    z-index: 1000;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);

}
.nav_list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;


}
 .nav_link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size:  var(--fs-h2);
    text-decoration: none;
}

.nav_link:hover {
    color: var(--clr-accent);

}
.nav_toogle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open .nav{
   transform: translateX(0);
}

.nav-open .nav_toogle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);

}

.nav-open .hamburger::after {
    opacity: 0;
}
.hamburger {
    display: block;
    position: relative;
    z-index: 1000;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 3em;
    height: 3px;
    border-radius: 1em;
    transition: transform 259ms ease-in-out;

}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
   
}

.hamburger::before { top: 6px;}
.hamburger::after { bottom: 6px;}


/* intro section*/

.intro {
    position:relative;
}

.services {
    margin-bottom: 4em;
}

.service {
    display: block;
    align-items: center;
    opacity: 80%;
    
}



.my_services {
    background-color: var(--clr-dark);
    background-image: url(../images/glenn-carstens-peters-P1qyEf1g0HU-unsplash\(1\).jpg);
    color: var(--clr-light);
    background-size: cover;
    text-align: center;
}

.section_title--services {
    color: var(--clr-accent);
    position: relative;
}
.section_title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro_image {
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2;
        opacity: 95%;

    }
    .section_subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);

    }
}

@media (min-width: 800px){
    .services {
        display: flex;
        max-width: 10000px;
        margin-left: auto;
        margin-right: auto;

    }
    .service + .service {
        margin-left: 2em;

    }

    .intro_image { 
    grid-area: img;
    min-width: 400px;
    z-index: 2;
    }
}

@media (min-width: 600px) {
    .about_me {
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
            grid-column-gap: 2em;
    }

    .section_title--about{
        grid-area: title;

    }
    .section_subtitle--about{
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about_me_img {
        grid-area: img;
        position: relative;
        z-index: 2;
        box-shadow: var(--bs);
    } 
    .my_work {
        background-color: var(--clr-dark);
        color: var(--clr-light);
        text-align: center;
    }

}


/* ########################## my work ############################*/


.my_work {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-align: center;
}


.portafolio {
    background: var(--clr-accent);
    display: inline-block;
    grid-template-columns: repeat(auto-fit, minmax(400px 1fr));
    max-width: 500px;
    overflow: hidden;
}
.portafolio_item {
    background: var(--clr-accent);

}

.portafolio_item:focus {
    position: relative;
    z-index: 2;

}

.portafolio_img {
    transition: 
    transform 750mx cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    overflow: hidden;
    background-clip: border-box;
}

.portafolio_img:hover,
.porafolio_item:focus .portafolio_img {
    transform: scale(1.2);
    opacity: .75;
}


/* ##########################  Footer ############################## */

.footer {
    background: #111;
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);



}

.footer a {
    color: inherit;
}
.social_list {
    list-style: none;
    font-weight: var(--fw-bold);
}
.social_list_item {
    text-decoration: none;
}

.footer_link {
    font-size:  var(--fs-h3);
    font-weight: var(--fw-bold);
    text-decoration: none;

}

.footer_link:hover,
.social_list_item:hover {
    opacity: .7;
    text-decoration: none;
}
.footer_link:hover {
    text-decoration: none;
}

.social_list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
    font-size: var(--fs-h3);
}

.social_list_item {
    margin: 0 .5em;
    font-size: var(--fs-h3);
   
}
.social_list_link {
    padding: .5em;
}



.portafolio_item-individual {

    padding: 0 2em 2em;
    max-width: 1000px;
    margin: 0 auto;
}
.portafolio_item-individual p {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}